/* ======== HOME ======== */
.home-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.home-container h2 {
  font-size: 26px;
  color: #2c3e50;
}

.home-container p {
  font-size: 18px;
  color: #555;
}
